<div class="panel-body">

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label >First Name:</label>
                <input type="text" ng-model="user.firstName">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label >Last Name:</label>
                <input type="text" ng-model="user.lastName">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Age:</label>
                <input type="number" ng-model="user.age">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Phone Number:</label>
                <input type="text" ng-model="user.phoneNumber">
            </div>
        </div>
    </div>
</div>
<button ng-click="saveUser(user)">Save</button>
<button ng-click="back()">Back</button>
<button ng-click="reset()">Reset</button>
<button ng-click="toggleList()">Toggle List</button>

<div ng-include="'views/userList.html'" ng-show="showList">

</div>

