<p> First Name: <input type="text" ng-model ="fname"> </p>
<p> Last Name: <input type="text" ng-model ="lname"> </p>
<p> Id: <input type="text" ng-model="id"> </p>
<p> Age: <input type="text" ng-model="age"> </p>

<p> <button type="button" ng-click="back()">Back</button> </p>
<p> <button type="button" ng-click="reset()">Reset</button> </p>
<p> <button type="button" ng-click="save()">Save</button> </p>
<p> <button type="button" ng-click="show()">Show/Hide</button> </p>




<div ng-if="showList">
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>

        <tr ng-repeat="user in users">
                <th class="text-center">
                    {{user.id}}
                </th>
                <th class="text-center">
                    {{user.fname}}
                </th>
                <th class="text-center">
                    {{user.lname}}
                </th>
                <th class="text-center">
                    {{user.age}}
                </th>
        </tr>
    </table>
</div>

