<table class="table table-striped">
    <tr>
        <th class="text-center">First Name</th>
        <th class="text-center">Last Name</th>
        <th class="text-center">Age</th>
        <th class="text-center">Phone Number</th>
    </tr>
    <tr ng-repeat="user in users">
        <td class="text-center">
            {{user.firstName}}
        </td>
        <td class="text-center">
            {{user.lastName}}
        </td>
        <td class="text-center">
            {{user.age}}
        </td>
        <td class="text-center">
            {{user.phoneNumber}}
        </td>
    </tr>
</table>
